<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManagementSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <!-- Add the following code -->
    <script src="/assets/delete_recipe.js"></script>
    <script src="/assets/recipes.js"></script>
    <!-- End of added code -->

  </body>
</html>
